@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

:root {
    --font-color: white;
    --background-color: rgb(55,55,55);
    --accent-alpha: 0.4;
    --accent-color: rgba(90,90,183,var(--accent-alpha));
    --body-font-size: calc(10px + 1vw);
    --heading-bgcolor: rgb(73, 73, 151);
    --heading-color: rgba(255,240,242,0.9);
    --heading-link-color: rgba(255,240,242,0.4);
    --nav-link-color: var(--font-color);
    --nav-border-radius: 4px;
    --nav-height: 6rem;
    --nav-line-height: 4vmin;
    --nav-font-size: calc(12px + 2vw);
    --nav-small-font-size: calc(12px + 1vw);
    --nav-padding-bottom: 0rem;
    --nav-link-hover-background-color: var(--accent-color);
    --nav-link-hover-color: var(--font-color);
    --nav-link-active-background-color: rgba(90,90,183,0.3);
    --navmenu-animation: 0.1s;
}

html, body, app {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--font-color);
    height: 100%;
    width: 100%;
    position: relative;
    font-size: var(--body-font-size);
}

.content {
    position: absolute;
    top: 1em;
    left: 1em;
    right: 1em;
    bottom: 1em;
}

app {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr 98fr;
    width: 100%;
    height: 100%;
    padding-top: calc(var(--nav-font-size) + 2vw);
}

.body {
    grid-row: 3 / 3;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
    width: 100%;
    height: 100%;
    padding: 1em;
    align-items: center;
    overflow-y: auto;
    font-size: var(--body-font-size);
}

.heading {
    grid-row: 1 / 1;
    --accent-alpha: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--heading-bgcolor);
    width: 100vw;
    color: var(--heading-color);
    z-index: 10;
    position: fixed;
}

    .heading h1 {
        font-size: calc(var(--nav-font-size) + 1vw);
        margin: 0;
    }

    .heading a {
        cursor: pointer;
        color: var(--heading-link-color);
        position: absolute;
        right: 3vw;
        font-size: 0.8rem;
        z-index: 11;
    }

        .heading a:hover {
            color: var(--heading-color);
        }

/* Here's an idea - use variables for all sizes, then animate those.... so the children can be affected*/
.nav-menu {
    grid-row: 2 / 2;
    position: relative;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: auto;
    animation: MENUNORMAL var(--navmenu-animation) linear;
}

    .nav-menu > .nav-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: solid thin var(--heading-bgcolor);
        border-radius: 4px;
        width: 48%;
        height: 21vmin;
        /* min-width: 33%; */
        max-width: 370px;
        /* min-height: 10%; */
        /* margin: 1vmin 4vmin 0 4vmin; */
        font-size: var(--nav-font-size);
        animation: NAVITEMNORMAL var(--navmenu-animation) linear;
    }

        .nav-menu > .nav-item > .nav-link > .nav-description {
            font-size: 3vmin;
            /* text-overflow: ellipsis; */
            /* overflow: hidden; */
            text-align: center;
        }

        .nav-menu > .nav-item > .nav-link {
            display: flex;
            flex-direction: column;
            /* justify-content: center; */
        }

            .nav-menu > .nav-item > .nav-link > .nav-icon {
                font-size: var(--nav-font-size);
                color: var(--accent-color);
                align-self: center;
                margin: 0px 0px 0px 0px;
            }

.nav-menu-small {
    grid-row: 2;
    position: relative;
    display: flex;
    flex-direction: row;
    /* --nav-font-size: 1rem; */
    animation: MENUSMALL var(--navmenu-animation) linear;
    /* width: 50px; */
    flex-flow: wrap;
    justify-content: center;
}

    .nav-menu-small > .nav-item {
        display: flex;
        flex-direction: row;
        /* justify-content: center; */
        border: solid thin var(--heading-bgcolor);
        /* border-radius: 4px; */
        width: 25vw;
        max-width: 250px;
        max-height: 50px;
        /* margin: 1vmin 0 0 1vmin; */
        /* padding: 3px; */
        font-size: var(--nav-small-font-size);
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 16px;
        animation: NAVITEMSMALL var(--navmenu-animation) linear;
    }

        .nav-menu-small > .nav-item > .nav-link {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-around;
            vertical-align: middle;
            width: 100%;
        }

            .nav-menu-small > .nav-item > .nav-link > .nav-name {
                font-size: var(--nav-small-font-size);
                align-self: center;
                margin: 0px 0px 0px 0.2em;
                vertical-align: bottom;
                line-height: normal;
            }

            .nav-menu-small > .nav-item > .nav-link > .nav-description {
                display: none;
            }

            .nav-menu-small > .nav-item > .nav-link > .nav-icon {
                font-size: var(--nav-small-font-size);
                color: var(--accent-color);
                align-self: center;
                margin: 0px 0px 0px 0px;
            }

.nav-item a {
    color: var(--nav-link-color);
    border-radius: var(--nav-border-radius);
    display: flex;
    align-items: center;
    line-height: var(--nav-line-height);
}

    .nav-item a.active {
        background-color: var(--nav-link-active-background-color);
        color: var(--font-color);
    }

    .nav-item a:hover {
        background-color: var(--nav-link-hover-background-color);
        color: var(--nav-link-hover-color);
    }


app:empty {
    position: absolute;
    margin: auto;
    padding: 0px;
    top: 15vmin;
}

    app:empty::after {
        display: block;
        text-align: center;
        text-wrap: normal;
        width: 100%;
        content: "Loading All The WASM";
        font-family: 'Showcard Gothic';
        animation: LOADING 2s infinite;
        font-size: 5vmin;
    }

    app:empty::before {
        display: block;
        text-align: center;
        width: 100%;
        content: "Blazor Playground ©Mister Magoo";
        font-family: 'Showcard Gothic';
        font-size: 4vmin;
        padding-bottom: 22vmin;
    }

@keyframes LOADING {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(10deg);
    }

    20% {
        transform: rotate(-10deg);
    }

    30% {
        transform: rotate(10deg);
    }

    40% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes MENUNORMAL {
    0% {
        grid-row: 2 / 2;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        flex-flow: wrap;
        justify-content: center;
    }

    100% {
        grid-row: 2 / 2;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: auto;
    }
}

@keyframes MENUSMALL {
    0% {
        grid-row: 2 / 2;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: auto;
    }

    100% {
        grid-row: 2 / 2;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        flex-flow: wrap;
        justify-content: center;
    }
}

@keyframes NAVITEMNORMAL {
    0% {
        display: flex;
        flex-direction: row;
        border: solid thin var(--heading-bgcolor);
        width: 25vw;
        max-width: 250px;
        max-height: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 16px;
    }

    100% {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: solid thin var(--heading-bgcolor);
        border-radius: 4px;
        width: 48%;
        height: 21vmin;
        max-width: 370px;
    }
}

@keyframes NAVITEMSMALL {
    0% {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: solid thin var(--heading-bgcolor);
        border-radius: 4px;
        width: 48%;
        height: 21vmin;
        max-width: 370px;
    }

    100% {
        display: flex;
        flex-direction: row;
        border: solid thin var(--heading-bgcolor);
        width: 25vw;
        max-width: 250px;
        max-height: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 16px;
    }
}
